In [93]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import kagglehub

# Download latest version
path = kagglehub.dataset_download("blastchar/telco-customer-churn")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\smn\.cache\kagglehub\datasets\blastchar\telco-customer-churn\versions\1

In [94]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [95]:
from sklearn.preprocessing import LabelEncoder

In [96]:
data = df.drop(['customerID', ],axis=1 )
print(data)

      gender  SeniorCitizen Partner Dependents  tenure PhoneService     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn
0     Female              0     Yes         No       1           No  No phone service             DSL             No          Yes               No          No          No              No  Month-to-month              Yes           Electronic check           29.85        29.85    No
1       Male              0      No         No      34          Yes                No             DSL            Yes           No              Yes          No          No              No        One year               No               Mailed check           56.95       1889.5    No
2       Male              0      No         No       2          Yes                No             DSL            Yes          Yes               No          No          No              No  Month-to-month              Yes               Mailed check           53.85       108.15   Yes
3       Male              0      No         No      45           No  No phone service             DSL            Yes           No              Yes         Yes          No              No        One year               No  Bank transfer (automatic)           42.30      1840.75    No
4     Female              0      No         No       2          Yes                No     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes           Electronic check           70.70       151.65   Yes
...      ...            ...     ...        ...     ...          ...               ...             ...            ...          ...              ...         ...         ...             ...             ...              ...                        ...             ...          ...   ...
7038    Male              0     Yes        Yes      24          Yes               Yes             DSL            Yes           No              Yes         Yes         Yes             Yes        One year              Yes               Mailed check           84.80       1990.5    No
7039  Female              0     Yes        Yes      72          Yes               Yes     Fiber optic             No          Yes              Yes          No         Yes             Yes        One year              Yes    Credit card (automatic)          103.20       7362.9    No
7040  Female              0     Yes        Yes      11           No  No phone service             DSL            Yes           No               No          No          No              No  Month-to-month              Yes           Electronic check           29.60       346.45    No
7041    Male              1     Yes         No       4          Yes               Yes     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes               Mailed check           74.40        306.6   Yes
7042    Male              0      No         No      66          Yes                No     Fiber optic            Yes           No              Yes         Yes         Yes             Yes        Two year              Yes  Bank transfer (automatic)          105.65       6844.5    No

[7043 rows x 20 columns]

In [97]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [98]:
print(data.columns)
df.dtypes

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [99]:

categorical_columns = data.select_dtypes(include=['object']).columns  
for col in categorical_columns:
    data[col] = encoder.fit_transform(data[col])

print(data)

      gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  MultipleLines  InternetService  OnlineSecurity  OnlineBackup  DeviceProtection  TechSupport  StreamingTV  StreamingMovies  Contract  PaperlessBilling  PaymentMethod  MonthlyCharges  TotalCharges  Churn
0          0              0        1           0       1             0              1                0               0             2                 0            0            0                0         0                 1              2           29.85          2505      0
1          1              0        0           0      34             1              0                0               2             0                 2            0            0                0         1                 0              3           56.95          1466      0
2          1              0        0           0       2             1              0                0               2             2                 0            0            0                0         0                 1              3           53.85           157      1
3          1              0        0           0      45             0              1                0               2             0                 2            2            0                0         1                 0              0           42.30          1400      0
4          0              0        0           0       2             1              0                1               0             0                 0            0            0                0         0                 1              2           70.70           925      1
...      ...            ...      ...         ...     ...           ...            ...              ...             ...           ...               ...          ...          ...              ...       ...               ...            ...             ...           ...    ...
7038       1              0        1           1      24             1              2                0               2             0                 2            2            2                2         1                 1              3           84.80          1597      0
7039       0              0        1           1      72             1              2                1               0             2                 2            0            2                2         1                 1              1          103.20          5698      0
7040       0              0        1           1      11             0              1                0               2             0                 0            0            0                0         0                 1              2           29.60          2994      0
7041       1              1        1           0       4             1              2                1               0             0                 0            0            0                0         0                 1              3           74.40          2660      1
7042       1              0        0           0      66             1              0                1               2             0                 2            2            2                2         2                 1              0          105.65          5407      0

[7043 rows x 20 columns]

In [100]:
data

      gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  MultipleLines  InternetService  OnlineSecurity  OnlineBackup  DeviceProtection  TechSupport  StreamingTV  StreamingMovies  Contract  PaperlessBilling  PaymentMethod  MonthlyCharges  TotalCharges  Churn
0          0              0        1           0       1             0              1                0               0             2                 0            0            0                0         0                 1              2           29.85          2505      0
1          1              0        0           0      34             1              0                0               2             0                 2            0            0                0         1                 0              3           56.95          1466      0
2          1              0        0           0       2             1              0                0               2             2                 0            0            0                0         0                 1              3           53.85           157      1
3          1              0        0           0      45             0              1                0               2             0                 2            2            0                0         1                 0              0           42.30          1400      0
4          0              0        0           0       2             1              0                1               0             0                 0            0            0                0         0                 1              2           70.70           925      1
...      ...            ...      ...         ...     ...           ...            ...              ...             ...           ...               ...          ...          ...              ...       ...               ...            ...             ...           ...    ...
7038       1              0        1           1      24             1              2                0               2             0                 2            2            2                2         1                 1              3           84.80          1597      0
7039       0              0        1           1      72             1              2                1               0             2                 2            0            2                2         1                 1              1          103.20          5698      0
7040       0              0        1           1      11             0              1                0               2             0                 0            0            0                0         0                 1              2           29.60          2994      0
7041       1              1        1           0       4             1              2                1               0             0                 0            0            0                0         0                 1              3           74.40          2660      1
7042       1              0        0           0      66             1              0                1               2             0                 2            2            2                2         2                 1              0          105.65          5407      0

[7043 rows x 20 columns]

In [101]:
x = data.drop('Churn',axis=1)
y = data.Churn

In [102]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [103]:
x_train.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
PaperlessBilling      int64
PaymentMethod         int64
MonthlyCharges      float64
TotalCharges          int64
dtype: object

In [104]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 10)
model = model.fit(x,y)

In [105]:
y_pred = model.predict(x_test)
y_pred

array([1, 0, 0, ..., 0, 0, 1], shape=(1409,))

In [106]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(y_test,y_pred)
accuracy

0.9808374733853797